{% load static %}
<!--Main Content-->
<div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
    <div class="blog--list-view blog--grid-load-more blog-list-view">
        <div class="page-title">
            <h1>Blog Post Title</h1>
        </div>
        <div class="article">
            <!-- Article Image -->
            <div class="article_featured-image"><img class="blur-up ls-is-cached lazyloaded"
                    data-src="{% static 'assets/images/blog/117x490.jpg' %}"
                    src="{% static 'assets/images/blog/117x490.jpg' %}" alt=""></div>&nbsp;
            <h1><a href=" blog">It's all about how you wear</a></h1>
            <ul class="publish-detail">
                <li><i class="anm anm-user-al" aria-hidden="true"></i> Posted by: Crish Jonas</li>
                <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">May 02, 2017</time></li>
                <li><i class="icon anm anm-comments-l"></i> <a href="#"> 0 comments</a></li>
            </ul>
            <hr>
            <div class="rte">
                <p>Cras quis neque urna. Pellentesque mollis, dui nec elementum elementum, ipsum quam suscipit
                    ligula, sit amet lobortis dolor sem sed neque. Vivamus consequat est non sodales efficitur.
                    Aliquam sodales eleifend sodales. Aliquam auctor ipsum quis nisl facilisis, at convallis
                    mauris iaculis. Duis eleifend, magna ac convallis blandit, dui dui auctor leo, sed tincidunt
                    nisi mauris ut nulla. Praesent porttitor dui ac turpis commodo porttitor. Integer ligula
                    nisi, bibendum non sem at, porta condimentum dui.</p>
                <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source
                    de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du
                    Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède
                    une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du
                    français standard. De nombreuses suites logicielles de.</p>
                <blockquote>There are many variations of passages of Lorem Ipsum available, but the majority
                    have suffered alteration in some form, by injected humour, or randomised words which don't
                    look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                    be sure there isn't anything embarrassing hidden in the middle of text. &nbsp;</blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
                <h3>Sample Text Listing</h3>
                <ul class="list-items">
                    <li>Donec et lacus mattis ipsum feugiat interdum non id sapien.</li>
                    <li>Quisque et mauris eget nisi vestibulum rhoncus molestie a ante.</li>
                    <li>Curabitur pulvinar ex at tempus sodales.</li>
                    <li>Mauris efficitur magna quis lectus lobortis venenatis.</li>
                    <li>Nunc id enim eget augue molestie lobortis in a purus.</li>
                </ul>
                <h3>Donec maximus quam at lectus bibendum, non suscipit nunc tristique.</h3>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                    interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                    also reproduced in their exact original form, accompanied by English versions from the 1914
                    translation by H. Rackham.</p>
            </div>
            <hr>
            <div class="social-sharing">
                <a target="_blank" href="#" class="btn-link btn--share share-facebook" title="Share on Facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i> <span class="share-title"
                        aria-hidden="true">Share</span>
                </a>
                <a target="_blank" href="#" class="btn-link btn--share share-twitter" title="Tweet on Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i> <span class="share-title"
                        aria-hidden="true">Tweet</span>
                </a>
                <a href="#" title="Share on google+" class="btn-link btn--share">
                    <i class="fa fa-google-plus" aria-hidden="true"></i> <span class="share-title"
                        aria-hidden="true">Google+</span>
                </a>
                <a target="_blank" href="#" class="btn-link btn--share share-pinterest" title="Pin on Pinterest">
                    <i class="fa fa-pinterest" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Pin
                        it</span>
                </a>
                <a href="#" class="btn-link btn--share share-pinterest" title="Share by Email" target="_blank">
                    <i class="fa fa-envelope" aria-hidden="true"></i> <span class="share-title"
                        aria-hidden="true">Email</span>
                </a>
            </div>
            <div class="blog-nav clearfix">
                <div class="nav-prev">
                    <a href="#" title="Previous"><i class="icon icon-arrow-left"></i> <span>Previous
                            post</span></a>
                </div>
                <div class="nav-next">
                    <a href="#" title="Next"><span>Next Post</span> <i class="icon icon-arrow-right"></i></a>
                </div>
            </div>
            <hr>
            <div class="blog-comment">
                <h2>Comments (4)</h2>
                <ol class="comments-list comments-list--level--0">
                    <li class="comments-list__item">
                        <div class="comment">
                            <div class="comment__avatar"><img src="{% static 'assets/images/avatar-img.jpg' %}" alt="">
                            </div>
                            <div class=" comment__content">
                                <div class="comment__header">
                                    <div class="comment__author">Jessica Moore</div>
                                    <div class="comment__reply"><button type="button"
                                            class="btn btn-xs btn-light">Reply</button></div>
                                </div>
                                <div class="comment__text">Aliquam ullamcorper elementum sagittis. Etiam lacus
                                    lacus, mollis in mattis in, vehicula eu nulla. Nulla nec tellus
                                    pellentesque.</div>
                                <div class="comment__date">November 30, 2018</div>
                            </div>
                        </div>
                        <div class="comment-list__children">
                            <ol class="comments-list comments-list--level--1">
                                <li class="comments-list__item">
                                    <div class="comment">
                                        <div class="comment__avatar"><img
                                                src="{% static 'assets/images/avatar-img1.jpg' %}" alt="">
                                        </div>
                                        <div class=" comment__content">
                                            <div class="comment__header">
                                                <div class="comment__author">Adam Taylor</div>
                                                <div class="comment__reply"><button type="button"
                                                        class="btn btn-xs btn-light">Reply</button></div>
                                            </div>
                                            <div class="comment__text">Ut vitae finibus nisl, suscipit porttitor
                                                urna. Integer efficitur efficitur velit non pulvinar. Aliquam
                                                blandit volutpat arcu vel tristique. Integer commodo ligula id
                                                augue tincidunt faucibus.</div>
                                            <div class="comment__date">December 4, 2018</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comments-list__item">
                                    <div class="comment">
                                        <div class="comment__avatar"><img
                                                src="{% static 'assets/images/avatar-img2.jpg' %}" alt="">
                                        </div>
                                        <div class=" comment__content">
                                            <div class="comment__header">
                                                <div class="comment__author">Helena Garcia</div>
                                                <div class="comment__reply"><button type="button"
                                                        class="btn btn-xs btn-light">Reply</button></div>
                                            </div>
                                            <div class="comment__text">Suspendisse dignissim luctus metus vitae
                                                aliquam. Vestibulum sem odio, ullamcorper a imperdiet a,
                                                tincidunt sed lacus. Sed magna felis, consequat a erat ut,
                                                rutrum finibus odio.</div>
                                            <div class="comment__date">December 12, 2018</div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="comments-list__item">
                        <div class="comment">
                            <div class="comment__avatar"><img src="{% static 'assets/images/avatar-img.jpg' %}" alt="">
                            </div>
                            <div class=" comment__content">
                                <div class="comment__header">
                                    <div class="comment__author">Ryan Ford</div>
                                    <div class="comment__reply"><button type="button"
                                            class="btn btn-xs btn-light">Reply</button></div>
                                </div>
                                <div class="comment__text">Nullam at varius sapien. Sed sit amet condimentum
                                    elit.</div>
                                <div class="comment__date">December 5, 2018</div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="formFeilds contact-form form-vertical">
                <form method="post" action="#" id="comment_form" accept-charset="UTF-8" class="comment-form">
                    <h2>Write A Comment</h2>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <input type="text" id="ContactFormName" name="contact[name]" placeholder="First Name"
                                    value="" required="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <input type="text" id="ContactFormLastName" name="contact[name]" placeholder="Last Name"
                                    value="" required="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email"
                                    value="" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <textarea required="" rows="10" id="ContactFormMessage" name="contact[body]"
                                    placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="fine-print"><i>Please note, comments must be approved before they are
                                    published</i></p>
                            <input type="submit" class="btn" value="Send Message">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>