{% load static %}
<!--MiniCart Drawer-->
<div class="minicart-right-drawer modal right fade" id="minicart-drawer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="cart-drawer" class="block block-cart">
                <a href="javascript:void(0);" class="close-cart" data-dismiss="modal" aria-label="Close"><i
                        class="anm anm-times-r"></i></a>
                <h4>Your cart (2 Items)</h4>
                <div class="minicart-content">
                    <ul class="clearfix">
                        <li class="item clearfix">
                            <a class="product-image" href="#">
                                <img src="{% static 'assets/images/product-images/cart-page-img1.jpg' %}" alt=""
                                    title="">
                            </a>
                            <div class="product-details">
                                <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                <a href="#" class="edit-i remove"><i class="icon icon-pencil"
                                        aria-hidden="true"></i></a>
                                <a class="product-title" href="cart-style1.html">Backpack With Contrast Bow</a>
                                <div class="variant-cart">Black / XL</div>
                                <div class="wrapQtyBtn">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="anm anm-minus-r"
                                                aria-hidden="true"></i></a>
                                        <input type="text" name="quantity" value="1" class="qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="anm anm-plus-r"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="money">$59.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item clearfix">
                            <a class="product-image" href="#">
                                <img src="{% static 'assets/images/product-images/cart-page-img1.jpg' %}" alt=""
                                    title="">
                            </a>
                            <div class="product-details">
                                <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                <a href="#" class="edit-i remove"><i class="icon icon-pencil"
                                        aria-hidden="true"></i></a>
                                <a class="product-title" href="cart-style1.html">Innerbloom Puffer</a>
                                <div class="variant-cart">Red / S</div>
                                <div class="wrapQtyBtn">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="anm anm-minus-r"
                                                aria-hidden="true"></i></a>
                                        <input type="text" name="quantity" value="1" class="qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="anm anm-plus-r"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="money">$89.00</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="minicart-bottom">
                    <div class="subtotal list">
                        <span>Shipping:</span>
                        <span class="product-price">$10.00</span>
                    </div>
                    <div class="subtotal list">
                        <span>Tax:</span>
                        <span class="product-price">$05.00</span>
                    </div>
                    <div class="subtotal">
                        <span>Total:</span>
                        <span class="product-price">$93.13</span>
                    </div>
                    <button type="button" class="btn proceed-to-checkout">Proceed to Checkout</button>
                    <button type="button" class="btn btn-secondary cart-btn">View Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End MiniCart Drawer-->