{% load static %}
<!--Mobile Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="#" class="site-nav">Homepages<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="index.html" class="site-nav">Home 01 <span class="lbl nm_label3">Popular</span></a>
                        </li>
                        <li><a href="index-demo2.html" class="site-nav">Home 02 <span
                                    class="lbl nm_label3">Popular</span></a></li>
                        <li><a href="index-demo3.html" class="site-nav">Home 03</a></li>
                        <li><a href="index-demo4.html" class="site-nav">Home 04</a></li>
                        <li><a href="index-demo5.html" class="site-nav">Home 05</a></li>
                        <li><a href="index-demo6.html" class="site-nav">Home 06</a></li>
                        <li><a href="index-demo7.html" class="site-nav">Home 07</a></li>
                        <li><a href="index-demo8.html" class="site-nav">Home 08</a></li>
                        <li><a href="index-demo9.html" class="site-nav">Home 09</a></li>
                        <li><a href="index-pottery-store.html" class="site-nav">Pottery Store</a></li>
                        <li><a href="index-modern.html" class="site-nav">Modern <span
                                    class="lbl nm_label2">New</span></a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Homepages<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="index-demo10.html" class="site-nav">Home 10</a></li>
                        <li><a href="index-demo11.html" class="site-nav">Home 11</a></li>
                        <li><a href="index-demo12.html" class="site-nav">Home 12</a></li>
                        <li><a href="index-demo13.html" class="site-nav">Home 13</a></li>
                        <li><a href="index-demo14.html" class="site-nav">Home 14</a></li>
                        <li><a href="index-demo15.html" class="site-nav">Home 15</a></li>
                        <li><a href="index-demo16.html" class="site-nav">Home 16</a></li>
                        <li><a href="index-demo17.html" class="site-nav">Home 17</a></li>
                        <li><a href="index-yoga-shop.html" class="site-nav">Yoga Shop</a></li>
                        <li><a href="index-wine-store.html" class="site-nav">Wine Store</a></li>
                        <li><a href="index-plants.html" class="site-nav">Plants <span
                                    class="lbl nm_label2">New</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="site-nav">Homeskin <i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li class="lvl-2"><a href="index-jewelry-store.html" class="site-nav">Jewelry Store</a></li>
                        <li class="lvl-2"><a href="index-pet-store.html" class="site-nav">Pet Store <span
                                    class="lbl nm_label4">Hot</span></a></li>
                        <li class="lvl-2"><a href="index-medical-demo.html" class="site-nav">Medical</a></li>
                        <li class="lvl-2"><a href="index-demo18.html" class="site-nav">Furniture Store <span
                                    class="lbl nm_label4">Hot</span></a></li>
                        <li class="lvl-2"><a href="index-christmas-1.html" class="site-nav">Christmas 1</a></li>
                        <li class="lvl-2"><a href="index-christmas-2.html" class="site-nav">Christmas 2</a></li>
                        <li class="lvl-2"><a href="index-bags-store.html" class="site-nav">Bags Store</a></li>
                        <li class="lvl-2"><a href="index-digital-store.html" class="site-nav">Digital Store</a></li>
                        <li class="lvl-2"><a href="index-beachwear.html" class="site-nav">Beachwear</a></li>
                        <li class="lvl-2"><a href="index-bike-store.html" class="site-nav">Bike Store</a></li>
                        <li class="lvl-2"><a href="index-kids-toy.html" class="site-nav lvl-2">Kids Toy <span
                                    class="lbl nm_label2">New</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="#">Shop <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="#" class="site-nav">Category Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="category-2columns.html" class="site-nav">2 Columns with style1</a></li>
                        <li><a href="category-3columns.html" class="site-nav">3 Columns with style2</a></li>
                        <li><a href="category-4columns.html" class="site-nav">4 Columns with style3</a></li>
                        <li><a href="category-5columns.html" class="site-nav">5 Columns with style4</a></li>
                        <li><a href="category-6columns.html" class="site-nav">6 Columns with Fullwidth</a></li>
                        <li><a href="category-7columns.html" class="site-nav">7 Columns</a></li>
                        <li><a href="category-empty.html" class="site-nav last">Category Empty</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Shop Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="shop-list-view.html" class="site-nav">List View</a></li>
                        <li><a href="shop-category-slideshow.html" class="site-nav">Category Slideshow</a></li>
                        <li><a href="shop-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                        <li><a href="shop-fullwidth.html" class="site-nav">Fullwidth/No Sidebar</a></li>
                        <li><a href="shop-no-sidebar.html" class="site-nav">No Sidebar/No Filter</a></li>
                        <li><a href="shop-category-slideshow.html" class="site-nav last">With category description</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Shop Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="shop-left-sidebar.html" class="site-nav">Simple Heading</a></li>
                        <li><a href="shop-small-heading.html" class="site-nav">Small Heading</a></li>
                        <li><a href="shop-no-sidebar.html" class="site-nav">Big Heading With Image</a></li>
                        <li><a href="shop-right-sidebar.html" class="site-nav">Headings With Banner#1</a></li>
                        <li><a href="shop-heading-with-banner2.html" class="site-nav2">Headings With Banner#2</a></li>
                        <li><a href="swatches-style.html" class="site-nav">Swatches Style</a></li>
                        <li><a href="classic-pagination.html" class="site-nav last">Classic Pagination</a></li>
                    </ul>
                </li>
                <li><a href="#" class="site-nav">Shop Other Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="my-wishlist.html" class="site-nav">My Wishlist</a></li>
                        <li><a href="cart-style1.html" class="site-nav">Cart Page Style1</a></li>
                        <li><a href="cart-style2.html" class="site-nav">Cart Page Style2</a></li>
                        <li><a href="checkout-style1.html" class="site-nav">Checkout Page Style1</a></li>
                        <li><a href="checkout-style2.html" class="site-nav">Checkout Page Style2</a></li>
                        <li><a href="compare-style1.html" class="site-nav">Compare Page Style1</a></li>
                        <li><a href="compare-style2.html" class="site-nav last">Compare Page Style2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="product-layout1.html">Product <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="product-layout1.html" class="site-nav">Product Page<i class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="product-layout1.html" class="site-nav">Product Layout1</a></li>
                        <li><a href="product-layout2.html" class="site-nav">Product Layout2</a></li>
                        <li><a href="product-layout3.html" class="site-nav">Product Layout3</a></li>
                        <li><a href="product-layout4.html" class="site-nav">Product Layout4</a></li>
                        <li><a href="product-layout5.html" class="site-nav">Product Layout5</a></li>
                        <li><a href="product-layout6.html" class="site-nav">Product Layout6</a></li>
                        <li><a href="product-layout7.html" class="site-nav">Product Layout7</a></li>
                        <li><a href="product-accordian.html" class="site-nav">Product Accordian</a></li>
                        <li><a href="product-tabs-left.html" class="site-nav">Product Tabs Left</a></li>
                        <li><a href="product-tabs-center.html" class="site-nav last">Product Tabs Center</a></li>
                    </ul>
                </li>
                <li><a href="short-description.html" class="site-nav">Product Page Types <i
                            class="anm anm-plus-l"></i></a>
                    <ul>
                        <li><a href="product-standard.html" class="site-nav">Standard Product</a></li>
                        <li><a href="product-variable.html" class="site-nav">Variable Product</a></li>
                        <li><a href="product-grouped.html" class="site-nav">Grouped Product</a></li>
                        <li><a href="product-layout1.html" class="site-nav">New Product</a></li>
                        <li><a href="product-layout2.html" class="site-nav">Sale Product</a></li>
                        <li><a href="product-outofstock.html" class="site-nav">Out Of Stock Product</a></li>
                        <li><a href="product-external-affiliate.html" class="site-nav">External / Affiliate Product</a>
                        </li>
                        <li><a href="product-layout1.html" class="site-nav">Variable Image</a></li>
                        <li><a href="product-layout4.html" class="site-nav">Variable Select</a></li>
                        <li><a href="prodcut-360-degree-view.html" class="site-nav last">360 Degree view</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="#">Lookbook <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="lookbook-2columns.html" class="site-nav">2 Columns</a></li>
                <li><a href="lookbook-3columns.html" class="site-nav">3 Columns</a></li>
                <li><a href="lookbook-4columns.html" class="site-nav">4 Columns</a></li>
                <li><a href="lookbook-5columns.html" class="site-nav">5 Columns + Fullwidth</a></li>
                <li><a href="lookbook-shop.html" class="site-nav last">Lookbook Shop</a></li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="about-us.html">Pages <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="brands-page.html" class="site-nav">Brands Page</a></li>
                <li><a href="login.html" class="site-nav">Login</a></li>
                <li><a href="my-account.html" class="site-nav">My Account</a></li>
                <li><a href="aboutus-style1.html" class="site-nav">About Us <i class="anm anm-plus-l"></i></a>
                    <ul class="dropdown">
                        <li><a href="aboutus-style1.html" class="site-nav">About Us Style1</a></li>
                        <li><a href="aboutus-style2.html" class="site-nav">About Us Style2</a></li>
                    </ul>
                </li>
                <li><a href="contact-style1.html" class="site-nav">Contact Us <i class="anm anm-plus-l"></i></a>
                    <ul class="dropdown">
                        <li><a href="contact-style1.html" class="site-nav">Contact Us Style1</a></li>
                        <li><a href="contact-style2.html" class="site-nav">Contact Us Style2</a></li>
                    </ul>
                </li>
                <li><a href="faqs-style1.html" class="site-nav">FAQs <i class="anm anm-plus-l"></i></a>
                    <ul class="dropdown">
                        <li><a href="faqs-style1.html" class="site-nav">FAQs Style1</a></li>
                        <li><a href="faqs-style2.html" class="site-nav">FAQs Style2</a></li>
                    </ul>
                </li>
                <li><a href="cms.html" class="site-nav">CMS</a></li>
                <li><a href="error-404.html" class="site-nav">Error 404</a></li>
                <li><a href="coming-soon.html" class="site-nav">Coming soon</a></li>
            </ul>
        </li>
        <li class="lvl1 parent megamenu"><a href="blog-left-sidebar.html">Blog <i class="anm anm-plus-l"></i></a>
            <ul>
                <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
                <li><a href="blog-2columns.html" class="site-nav">2 Columns</a></li>
                <li><a href="blog-3columns.html" class="site-nav">3 Columns</a></li>
                <li><a href="blog-4columns.html" class="site-nav">4 Columns</a></li>
                <li><a href="blog-single-post.html" class="site-nav">Single Post</a></li>
            </ul>
        </li>

    </ul>
</div>
<!--End Mobile Menu-->