{% load static %}
<!--Blog Post-->
<div class="section home-blog-post">
    <div class="container">
        <div class="section-header">
            <h2>News &amp; Edit</h2>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="blog-post-slider">
                    <div class="blogpost-item">
                        <a href="#;" class="post-thumb">
                            <img src="{% static 'assets/images/blog/370x206.jpg' %}" alt="" title="" />
                        </a>
                        <div class="post-detail">
                            <h3 class="post-title"><a href="#;">Our development is your success</a></h3>
                            <ul class="publish-detail">
                                <li><span class="article__date">March 06, 2019</span></li>
                                <li><i class="anm anm-comments-l"></i> <a href="#;" class="btn-link">1
                                        comment</a></li>
                            </ul>
                            <div class="rte article-excerpt">There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or rand... </div>
                            <a href="blog-single-post.html" class="btn btn--small">Read more</a>
                        </div>
                    </div>
                    <div class="blogpost-item">
                        <a href="#;" class="post-thumb">
                            <img src="{% static 'assets/images/blog/370x206.jpg' %}" alt="" title="" />
                        </a>
                        <div class="post-detail">
                            <h3 class="post-title"><a href="#;">Ensuring Customer Success</a></h3>
                            <ul class="publish-detail">
                                <li><span class="article__date">February 11, 2019</span></li>
                            </ul>
                            <div class="rte article-excerpt">There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or rand... </div>
                            <a href="blog-single-post.html" class="btn btn--small">Read more</a>
                        </div>
                    </div>
                    <div class="blogpost-item">
                        <a href="#;" class="post-thumb">
                            <img src="{% static 'assets/images/blog/370x206.jpg' %}" alt="" title="" />
                        </a>
                        <div class="post-detail">
                            <h3 class="post-title"><a href="#;">We can make your business shine!</a></h3>
                            <ul class="publish-detail">
                                <li><span class="article__date">February 19, 2019</span></li>
                                <li><i class="anm anm-comments-l"></i> <a href="#;" class="btn-link">2
                                        comments</a></li>
                            </ul>
                            <div class="rte article-excerpt">There are many variations of passages of Lorem
                                Ipsum available, but the majority have suffered alteration in some form, by
                                injected humour, or rand... </div>
                            <a href="blog-single-post.html" class="btn btn--small">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Blog Post-->