{% load static %}
<!--Featured Content-->
<div class="section featuredContent featuredContentStyle3">
    <div class="container">
        <div class="row-fluid d-flex justify-content-between align-items-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 pl-0 px-0">
                <img data-src="assets/images/digital-store-ft-img1.jpg"
                    src="{% static 'assets/images/wine-store-img1.jpg' %}" alt="" title="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row-text text-left">
                    <h3 class="medium">What Makes our Wine Special ?</h3>
                    <div class="rte rte-setting featured-row__subtext">
                        <h3 class="small">Fermentation</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <h3 class="small">Harvesting</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <h3 class="small">Corkscrews & Openers</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <h3 class="small">Catering Bowls</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <h3 class="small">Tannin Levels</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Featured Content-->