{% load static %}
<!--Home slider-->
<div class="slideshow slideshow-wrapper">
    <div class="home-slideshow">
        <div class="slide">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="{% static 'assets/images/slideshow-banner/1900x600.jpg' %}"
                    src="{% static 'assets/images/slideshow-banner/1900x600.jpg' %}" alt="" title="" />
                <div class="slideshow__text-wrap slideshow__overlay left">
                    <div class="slideshow__text-content">
                        <div class="wrap-caption anim-tru left style1">
                            <p class="mega-small-title">#AvoneFightsCorona</p>
                            <h2 class="h1 mega-title slideshow__title"> Well prepared for corona virus?</h2>
                            <div class="mega-subtitle slideshow__subtitle">
                                Buy mask with best price<br>
                                <ul>
                                    <li>Secured with ties or ear loops</li>
                                    <li>Breathing without restriction</li>
                                    <li>Sashable without damage or shape change</li>
                                </ul>
                            </div>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="{% static 'assets/images/slideshow-banner/1900x600.jpg' %}"
                    src="{% static 'assets/images/slideshow-banner/1900x600.jpg' %}" alt="" title="" />
                <div class="slideshow__text-wrap slideshow__overlay left">
                    <div class="slideshow__text-content">
                        <div class="wrap-caption anim-tru left style1">
                            <p class="mega-small-title">AVONE SANITIZER GEL</p>
                            <h2 class="h1 mega-title slideshow__title">STAY CLEAN DISINFECT</h2>
                            <span class="mega-subtitle slideshow__subtitle">REDUCE YOUR RISK OF COVID-19
                                INFECTION</span>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->