<div class="footer footer-9">
    <!--Store Feture-->
    <div class="store-info style2 store-info-section small-pd">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="display-table store-info style2">
                        <li class="display-table-cell">
                            <a href="#"><i class="anm anm-worldwide" aria-hidden="true"></i>
                                <h5>FREE SHIPPING</h5> <span class="sub-text"> <span>On all order above
                                        $199</span></span>
                            </a>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-dollar" aria-hidden="true"></i>
                            <h5>FREE RETURNS</h5> <span class="sub-text"><span>Returns items if do not
                                    like</span></span>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-shield" aria-hidden="true"></i>
                            <h5>24 MONTHS WARRANTY</h5> <span class="sub-text"> <span>24 month warranty on all
                                    items</span> </span>
                        </li>
                        <li class="display-table-cell">
                            <i class="anm anm-recommended" aria-hidden="true"></i>
                            <h5>100% SECURE CHECKOUT</h5> <span class="sub-text"> <span>
                                    <p>Buyer Protection &amp; Security</p>
                                </span> </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Store Feture-->
</div>