{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset Password</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body class="login-page">
    <div id="pre-loader">
        <img src="{% static 'assets/images/loader.gif' %}" alt="Loading..." />
    </div>
    <div class="page-wrapper">

        <!--Promotion Bar-->
        {% include 'Layout/PromotionBar.html' %}

        <!--Header-->
        {% include 'Layout/Header.html' %}

        <!-- Mobile Header -->
        {% include 'Layout/MobileHeader.html' %}

        <div id="page-content">
            <!--Body Container-->
            <!--Breadcrumbs-->
            <div class="breadcrumbs-wrapper">
                <div class="container">
                    <div class="breadcrumbs"><a href="/" title="Back to the home page">Home</a> <span
                            aria-hidden="true">|</span> <span>Reset Password</span></div>
                </div>
            </div>
            <!--End Breadcrumbs-->
            <!--Page Title with Image-->
            <div class="page-title">
                <h1>Forgot Your Password</h1>
            </div>
            <!--End Page Title with Image-->
            <div class="container">
                <div class="row">
                    <!--Main Content-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 box offset-3">
                        <div class="mb-4">
                            <form method="post" action="" accept-charset="UTF-8" class="contact-form">
                                {% csrf_token %}
                                <h3>Retrieve your password here</h3>
                                <p>Please enter your email address below. You will receive a link to reset your
                                    password.</p>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Email Address <span
                                                    class="required">*</span></label>
                                            <input type="email" name="email" autocomplete="email" maxlength="254"
                                                placeholder="" id="id_email" autocorrect="off" autocapitalize="off"
                                                autofocus required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="submit" class="btn mb-3" value="Submit">
                                        <p class="mb-4">
                                            <a href="/login">« Back To Login Page</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End Main Content-->
                </div>

            </div><!--End Body Container-->

        </div><!--End Page Wrapper-->

        <!--Footer + Scroll Top-->
        {% include 'Layout/Footer.html' %}

        <!--MiniCart Drawer-->
        {% include 'Layout/MiniCartDrawer.html' %}

        <!-- Including Jquery -->
        <script src="{% static 'assets/js/vendor/jquery-min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
        <!-- Including Javascript -->
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </div>
</body>

</html>